<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>IT Studio</title>
    <link rel="stylesheet" href="../layout/main.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header_top">
                <nav class="menu">
                    <a href="#" class="link">Главная</a>
                    <a href="#" class="link">Наши проекты</a>
                    <a href="#" class="link">Услуги</a>
                    <a href="#" class="link">Новости</a>
                    <a href="#" class="link">Контакты</a>
                </nav>
            </div>
            <div class="header_main">
                <p>Передовая IT студия</p>
                <h1>
                    Мы создаем легкие решения<br>
                    сложных задач и проблем
                </h1>
                <a href="#projects" class="btn">Наши проекты</a>
            </div>
        </div>
    </header>
    <section class="about_us">
        <div class="container">
            <div class="about_top">
                <h2>
                    Мы создаем мобильные приложения<br>
                    для крупных корпораций
                </h2>
                <p>
                    Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. 
                </p>
            </div>
            <div class="about_main">
                <div class="about_items">
                    <div class="item">
                        <div class="logo"></div>
                        <h3 class="item_header">Создание сайтов</h3>
                        <p class="item_text">
                            Lorem Ipsum - это текст- "рыба", часто используе в печати и вэб-дизайне.
                        </p>
                    </div>
                    <div class="item">
                        <div class="logo"></div>
                        <h3 class="item_header">Создание сайтов</h3>
                        <p class="item_text">
                            Lorem Ipsum - это текст- "рыба", часто используе в печати и вэб-дизайне.
                        </p>
                    </div>
                    <div class="item">
                        <div class="logo"></div>
                        <h3 class="item_header">Создание сайтов</h3>
                        <p class="item_text">
                            Lorem Ipsum - это текст- "рыба", часто используе в печати и вэб-дизайне.
                        </p>
                    </div>
                </div>
                <a href="#" class="btn">Все услуги</a>
            </div>
        </div>
    </section>
</body>
</html>