<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>IT Studio</title>
    <link rel="stylesheet" href="../layout/main.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header_top">
                <nav class="menu">
                    <a href="#" class="link">Главная</a>
                    <a href="#" class="link">Наши проекты</a>
                    <a href="#" class="link">Услуги</a>
                    <a href="#" class="link">Новости</a>
                    <a href="#" class="link">Контакты</a>
                </nav>
            </div>
            <div class="header_main">
                <p>Передовая IT студия</p>
                <h1>
                    Мы создаем легкие решения<br>
                    сложных задач и проблем
                </h1>
                <a href="#projects" class="btn">Наши проекты</a>
            </div>
        </div>
    </header>
</body>
</html>